USE [master]
GO
/****** Object:  Database [FarmaciaTPLogica1]    Script Date: 11/10/2025 6:57:28 AM ******/
CREATE DATABASE [FarmaciaTPLogica1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmaciaTPLogica1', FILENAME = N'/var/opt/mssql/data/FarmaciaTPLogica1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FarmaciaTPLogica1_log', FILENAME = N'/var/opt/mssql/data/FarmaciaTPLogica1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FarmaciaTPLogica1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FarmaciaTPLogica1]
GO
/****** Object:  Table [dbo].[Autenticacion]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autenticacion](
	[idAutenticado] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [uniqueidentifier] NOT NULL,
	[idRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAutenticado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nomCliente] [varchar](30) NOT NULL,
	[apeCliente] [varchar](30) NOT NULL,
	[domicilio] [varchar](60) NOT NULL,
	[dni] [int] NOT NULL,
	[teléfono] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credenciales]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credenciales](
	[idCredencial] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Credenciales] PRIMARY KEY CLUSTERED 
(
	[idCredencial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleFacturas]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleFacturas](
	[idDetalleFacturas] [int] IDENTITY(1,1) NOT NULL,
	[nroFactura] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[precioUnitario] [decimal](10, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[observ] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleFacturas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[nomEmp] [varchar](30) NOT NULL,
	[apeEmp] [varchar](30) NOT NULL,
	[domicilio] [varchar](60) NOT NULL,
	[dni] [int] NOT NULL,
	[teléfono] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[nroFactura] [int] IDENTITY(1,1) NOT NULL,
	[tipoFactura] [varchar](50) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[fechaFactura] [date] NOT NULL,
	[idCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombreComercial] [varchar](50) NOT NULL,
	[principioActivo] [varchar](50) NOT NULL,
	[contenidoCantidad] [decimal](10, 2) NOT NULL,
	[unidadMedida] [varchar](10) NOT NULL,
	[nroLote] [int] NOT NULL,
	[fVencimiento] [date] NOT NULL,
	[stock] [int] NOT NULL,
	[proveedor] [nvarchar](100) NOT NULL,
	[precioUnitario] [decimal](14, 2) NOT NULL,
 CONSTRAINT [PK__Producto__07F4A132056D3526] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/10/2025 6:57:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [uniqueidentifier] NOT NULL,
	[idCredencial] [uniqueidentifier] NOT NULL,
	[idEmpleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autenticacion] ON 

INSERT [dbo].[Autenticacion] ([idAutenticado], [idUsuario], [idRol]) VALUES (1006, N'0baebb0e-1692-4261-9d41-a5e100e1b477', 1)
INSERT [dbo].[Autenticacion] ([idAutenticado], [idUsuario], [idRol]) VALUES (1007, N'ffff754b-5124-4c28-b503-58fd3b03dfba', 1)
INSERT [dbo].[Autenticacion] ([idAutenticado], [idUsuario], [idRol]) VALUES (1008, N'e6aae202-4c10-42a8-bd14-26fe5780b5be', 2)
SET IDENTITY_INSERT [dbo].[Autenticacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([idCliente], [nomCliente], [apeCliente], [domicilio], [dni], [teléfono], [estado]) VALUES (1007, N'Juan', N'Pérez', N'Av. Colón 123, Córdoba', 30111222, N'351-5551111', 1)
INSERT [dbo].[Clientes] ([idCliente], [nomCliente], [apeCliente], [domicilio], [dni], [teléfono], [estado]) VALUES (1008, N'María', N'Gómez', N'Bv. Illia 450, Córdoba', 28900333, N'351-5552222', 1)
INSERT [dbo].[Clientes] ([idCliente], [nomCliente], [apeCliente], [domicilio], [dni], [teléfono], [estado]) VALUES (1009, N'Lucas', N'Rodríguez', N'San Martín 980, Córdoba', 31222444, N'351-5553333', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
INSERT [dbo].[Credenciales] ([idCredencial], [email], [password]) VALUES (N'c3cf4f49-d2b5-4687-89a9-0407c89a2c4c', N'rocio.cordoba@farmacia.com', N'Vendedor#14')
INSERT [dbo].[Credenciales] ([idCredencial], [email], [password]) VALUES (N'98e9f468-d2fa-4135-8bda-0c5fe43be5b1', N'pedro.acosta@farmacia.com', N'Vendedor#5')
INSERT [dbo].[Credenciales] ([idCredencial], [email], [password]) VALUES (N'29cf94a0-1fb2-4cea-a631-288151b36fc4', N'noelia.farias@farmacia.com', N'Vendedor#18')
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([idEmpleado], [nomEmp], [apeEmp], [domicilio], [dni], [teléfono], [estado]) VALUES (6, N'Franco', N'Admin', N'Av. Colón 1000, Córdoba', 25111222, N'351-6001111', 1)
INSERT [dbo].[Empleados] ([idEmpleado], [nomEmp], [apeEmp], [domicilio], [dni], [teléfono], [estado]) VALUES (7, N'Laura', N'Quiroga', N'Bv. San Juan 300, Córdoba', 26111333, N'351-6002222', 1)
INSERT [dbo].[Empleados] ([idEmpleado], [nomEmp], [apeEmp], [domicilio], [dni], [teléfono], [estado]) VALUES (8, N'Martín', N'Luna', N'Maipú 800, Córdoba', 27111444, N'351-6003333', 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([idProducto], [nombreComercial], [principioActivo], [contenidoCantidad], [unidadMedida], [nroLote], [fVencimiento], [stock], [proveedor], [precioUnitario]) VALUES (41, N'Ibupirac 400 mg Comp', N'Ibuprofeno', CAST(400.00 AS Decimal(10, 2)), N'mg', 1001, CAST(N'2026-03-31' AS Date), 150, N'Roemmers', CAST(3200.00 AS Decimal(14, 2)))
INSERT [dbo].[Productos] ([idProducto], [nombreComercial], [principioActivo], [contenidoCantidad], [unidadMedida], [nroLote], [fVencimiento], [stock], [proveedor], [precioUnitario]) VALUES (42, N'Actron 400 mg Caps Blandas', N'Ibuprofeno', CAST(400.00 AS Decimal(10, 2)), N'mg', 1002, CAST(N'2026-05-31' AS Date), 120, N'Bayer', CAST(3400.00 AS Decimal(14, 2)))
INSERT [dbo].[Productos] ([idProducto], [nombreComercial], [principioActivo], [contenidoCantidad], [unidadMedida], [nroLote], [fVencimiento], [stock], [proveedor], [precioUnitario]) VALUES (43, N'Bayaspirina 500 mg Comp', N'Acido acetilsalicilico', CAST(500.00 AS Decimal(10, 2)), N'mg', 1003, CAST(N'2027-01-31' AS Date), 180, N'Bayer', CAST(1500.00 AS Decimal(14, 2)))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([idRol], [rol]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([idRol], [rol]) VALUES (2, N'vendedor')
INSERT [dbo].[Roles] ([idRol], [rol]) VALUES (3, N'repositor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Usuarios] ([idUsuario], [idCredencial], [idEmpleado]) VALUES (N'324f57af-ec9e-4a71-95ae-07670c7ad864', N'ccf106c8-85b3-4e12-9d84-434c975192ea', 20)
INSERT [dbo].[Usuarios] ([idUsuario], [idCredencial], [idEmpleado]) VALUES (N'de3e1eeb-4214-44cc-9aa4-07d55b3c0e39', N'a9f632a8-bf4d-4c68-a565-532220634539', 16)
INSERT [dbo].[Usuarios] ([idUsuario], [idCredencial], [idEmpleado]) VALUES (N'a3430da5-3362-40f3-a435-0bdc2e6e1590', N'c324f131-f8e2-4c92-87ad-a471c5b5d52d', 17)
GO
/****** Object:  Index [UQ_Dni]    Script Date: 11/10/2025 6:57:28 AM ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Dni] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_nomComercial]    Script Date: 11/10/2025 6:57:28 AM ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UQ_nomComercial] UNIQUE NONCLUSTERED 
(
	[nombreComercial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Autenticacion]  WITH CHECK ADD  CONSTRAINT [FK_idRol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([idRol])
GO
ALTER TABLE [dbo].[Autenticacion] CHECK CONSTRAINT [FK_idRol]
GO
ALTER TABLE [dbo].[Autenticacion]  WITH CHECK ADD  CONSTRAINT [FK_idUsuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Autenticacion] CHECK CONSTRAINT [FK_idUsuario]
GO
ALTER TABLE [dbo].[detalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_nroFactura] FOREIGN KEY([nroFactura])
REFERENCES [dbo].[Facturas] ([nroFactura])
GO
ALTER TABLE [dbo].[detalleFacturas] CHECK CONSTRAINT [FK_nroFactura]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_idCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_idCliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_idEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_idEmpleado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Credenciales] FOREIGN KEY([idCredencial])
REFERENCES [dbo].[Credenciales] ([idCredencial])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Credenciales]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleados] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleados]
GO
USE [master]
GO
